#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

// Home row mods macro
#define HRML(k1, k2, k3) &hrm LALT k1  &hrm LSHFT k2  &hrm LGUI k3
#define HRMR(k1, k2, k3) &hrm RGUI k1  &hrm RSHFT k2  &hrm RALT k3
// hyper
#define HYPER(k) &kp RC(RA(RS(RG(k))))

&lt {
	flavor = "hold-preferred";
	quick-tap-ms = <150>;
};

&mt {
	quick-tap-ms = <150>;
};

/ {
	combos {
		compatible = "zmk,combos";
		combo_space_enter_media {
			layers = <0 1 4>;
			slow-release;
			key-positions = <31 32>;
			bindings = <&tog 4>;
		};
		combo_shifts_caps_word {
			layers = <0 1>;
			slow-release;
			key-positions = <12 17>;
			bindings = <&caps_word>;
		};
	};

	macros {
		blpl: base_layer_plus_lang {
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
			bindings
				= <&tog 1>
				, <&kp RC(RA(RS(RG(SPACE))))>
				;
		};
	};

	behaviors {
		// on base
		hrm: hold_tap {
			compatible = "zmk,behavior-hold-tap";
			#binding-cells = <2>;
			flavor = "tap-preferred";
			tapping-term-ms = <220>;
			quick-tap-ms = <150>;
			require-prior-idle-ms = <100>;
			bindings = <&kp>, <&kp>;
		};

		// on qwe
		tdpg: tap_dance_p_grave {
			compatible = "zmk,behavior-tap-dance";
			#binding-cells = <0>;
			bindings = <&kp P>, <&kp SQT>;
		};
		tdmrb: tap_dance_m_right_bracket {
			compatible = "zmk,behavior-tap-dance";
			#binding-cells = <0>;
			bindings = <&kp M>, <&kp LBKT>;
		};
		tdmlb: tap_dance_m_left_bracket {
			compatible = "zmk,behavior-tap-dance";
			#binding-cells = <0>;
			bindings = <&kp M>, <&kp LBKT>;
		};
		tdcrb: tap_dance_comma_right_bracket {
			compatible = "zmk,behavior-tap-dance";
			#binding-cells = <0>;
			bindings = <&kp COMMA>, <&kp RBKT>;
		};
		tdfsbs: tap_dance_forwardslash_backwardslash {
			compatible = "zmk,behavior-tap-dance";
			#binding-cells = <0>;
			bindings = <&kp SLASH>, <&kp BSLH>;
		};

		// on sym
		tdcbs: tap_dance_caret_backwardslash {
			compatible = "zmk,behavior-tap-dance";
			#binding-cells = <0>;
			bindings = <&kp CARET>, <&kp BSLH>;
		};
		tdtdgr: tap_dance_tilde_grave {
			compatible = "zmk,behavior-tap-dance";
			#binding-cells = <0>;
			bindings = <&kp TILDE>, <&kp GRAVE>;
		};
	};

	keymap {
		compatible = "zmk,keymap";
		fyou_layer {
			bindings = <
//╭──────────┬──────────┬──────────┬─────────┬───────────────╮   ╭───────────────┬──────────┬──────────┬──────────┬──────────╮
//│X         │Y         │O         │U        │'              │   │G              │C         │L         │P         │M         │
   &kp X      &kp Y      &kp O      &kp U     &kp SQT             &kp G           &kp C      &kp L      &kp P      &kp M
//├──────────┼──────────┼──────────┼─────────┼───────────────┤   ├───────────────┼──────────┼──────────┼──────────┼──────────┤
//│          │          │caps word+│         │               │   │               │          │+caps word│          │          │ combo
//│          │OPT       │SHIFT     │CMD      │               │   │               │CMD       │SHIFT     │OPT       │          │ hold
//│H         │I         │E         │A        │.              │   │D              │S         │T         │N         │R         │
   &kp H      HRML(I,    E,         A)        &kp DOT             &kp D           HRMR(S,    T,         N)         &kp R
//├──────────┼──────────┼──────────┼─────────┼───────────────┤   ├───────────────┼──────────┼──────────┼──────────┼──────────┤
//│;         │Z         │J         │K        │'              │   │B              │W         │F         │V         │Q         │
   &kp SEMI   &kp Z      &kp J      &kp K     &kp COMMA           &kp B           &kp W      &kp F      &kp V      &kp Q
//╰──────────┴──────────┴──────────┼─────────┼───────────────┤   ├───────────────┼──────────┼──────────┴──────────┴──────────╯
//                                 │         │               MEDIA               │          │                                  combo
//                                 │NAV      │               │   │               │SYM       │                                  hold layer
//                                 │ESC      │SPACE          │   │ENTER          │BACKSPACE │
									&lt 2 ESC &mt LCTRL SPACE     &mt RCTRL ENTER &lt 3 BSPC
//                                 ╰─────────┴───────────────╯   ╰───────────────┴──────────╯
			>;
		};

		qwerty_layer {
			bindings = <
//╭──────────┬──────────┬──────────┬─────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
//│          │          │          │         │          │   │          │          │          │          │P '       │ tap dance
//│Q         │W         │E         │R        │T         │   │Y         │U         │I         │O         │          │
   &kp Q      &kp W      &kp E      &kp R     &kp T          &kp Y      &kp U      &kp I      &kp O      &tdpg
//├──────────┼──────────┼──────────┼─────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
//│          │          │caps word+│         │          │   │          │          │+caps word│          │          │ combo
//│          │OPT       │SHIFT     │CMD      │          │   │          │CMD       │SHIFT     │OPT       │          │ hold
//│A         │S         │D         │F        │G         │   │H         │J         │K         │L         │;         │
   &kp A      HRML(S,    D,         F)        &kp G          &kp H      HRMR(J,    K,         L)         &kp SEMI
//├──────────┼──────────┼──────────┼─────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
//│          │          │          │         │          │   │          │M [       │, ]       │          │/ \       │ tap dance
//│Z         │X         │C         │V        │B         │   │N         │          │          │.         │          │
   &kp Z      &kp X      &kp C      &kp V     &kp B          &kp N      &tdmlb     &tdcrb     &kp DOT    &tdfsbs
//╰──────────┴──────────┴──────────┼─────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
//                                 │NAV      │          │   │          │SYM       │                                  hold layer
//                                 │ESC      │SPACE     │   │ENTER     │BACKSPACE │
									&lt 2 ESC &kp SPACE      &kp ENTER  &lt 3 BSPC
//                                 ╰─────────┴──────────╯   ╰──────────┴──────────╯
			>;
		};

		nav_layer {
			bindings = <
//╭────────────┬────────────┬───────────────┬─────────────┬────────────╮   ╭────────────────┬────────────┬────────────┬──────────┬─────────────╮
//│history back│history forw│prev tab       │next tab     │remove line │   │SHIFT CMD ←     │SHIFT ←     │SHIFT ↓     │SHIFT ↑   │SHIFT →      │
   &kp LG(LBKT) &kp LG(RBKT) &kp LC(LS(TAB)) &kp LC(TAB)   &kp LG(BSPC)     &kp LS(LG(LEFT)) &kp RS(LEFT) &kp RS(DOWN) &kp RS(UP) &kp RS(RIGHT)
//├────────────┼────────────┼───────────────┼─────────────┼────────────┤   ├────────────────┼────────────┼────────────┼──────────┼─────────────┤
//│SHIFT TAB   │TAB         │SHIFT          │CMD          │remove word │   │CMD ←           │←           │↓           │↑         │→            │
   &kp LS(TAB)  &kp TAB      &kp LSHFT       &kp LGUI      &kp LA(BSPC)     &kp RG(LEFT)     &kp LEFT     &kp DOWN     &kp UP     &kp RIGHT
//├────────────┼────────────┼───────────────┼─────────────┼────────────┤   ├────────────────┼────────────┼────────────┼──────────┼─────────────┤
//│            │            │prev space     │next space   │delele line │   │SHIFT ALT ←     │ALT ←       │ALT ↓       │ALT ↑     │ALT →        │
   &kp Q        &none        &kp LC(LEFT)    &kp LC(RIGHT) &kp LA(DEL)      &kp RS(RA(LEFT)) &kp RA(LEFT) &kp RA(DOWN) &kp RA(UP) &kp RA(RIGHT)
//╰────────────┴────────────┴───────────────┼─────────────┼────────────┤   ├────────────────┼────────────┼────────────┴──────────┴─────────────╯
//                                          │             │            │   │LANG            │BASE + LANG │
											 &none         &none            HYPER(SPACE)     &blpl
//                                          ╰─────────────┴────────────╯   ╰────────────────┴────────────╯
			>;
		};

		sym_layer {
			bindings = <
//╭──────────┬──────────┬────────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
//│          │          │            │          │          │   │^ \       │          │          │          │          │ tap dance
//│!         │@         │#           │$         │%         │   │          │&         │|         │*         │?         │
   &kp EXCL   &kp AT     &kp HASH     &kp DLLR   &kp PRCNT      &tdcbs     &kp AMPS   &kp PIPE   &kp STAR   &kp QMARK
//├──────────┼──────────┼────────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
//│1         │2         │3           │4         │5         │   │6         │7         │8         │9         │0         │
   &kp KP_N1  &kp KP_N2  &kp KP_N3    &kp KP_N4  &kp KP_N5      &kp KP_N6  &kp KP_N7  &kp KP_N8  &kp KP_N9  &kp KP_N0
//├──────────┼──────────┼────────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
//│          │          │            │          │~ `       │   │          │          │          │          │          │ tap dance
//│{         │}         │-           │+         │          │   │/         │[         │]         │(         │)         │
   &kp LBRC   &kp RBRC   &kp KP_MINUS &kp PLUS   &tdtdgr        &kp SLASH  &kp LBKT  &kp RBKT   &kp LPAR   &kp RPAR
//╰──────────┴──────────┴────────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
//                                   │_         │=         │   │          │          │
									  &kp UNDER  &kp EQUAL      &none      &none
//                                   ╰──────────┴──────────╯   ╰──────────┴──────────╯
			>;
		};

		media_layer {
			bindings = <
//╭─────────────┬──────────┬──────────────┬──────────────┬──────────────────╮   ╭──────────┬──────────┬────────────┬────────────┬──────────╮
//│web inspector│          │video capture │screen to file│screen to buffer  │   │ESC       │pause/play│mute        │            │BT        │
   &kp LA(LG(I)) &none      &kp LS(LG(N5)) &kp LS(LG(N4)) &kp LC(LS(LG(N4)))     &kp ESC    &kp C_PP   &kp C_MUTE   &none        &mo 5
//├─────────────┼──────────┼──────────────┼──────────────┼──────────────────┤   ├──────────┼──────────┼────────────┼────────────┼──────────┤
//│             │          │brightness ↓  │brightness ↑  │copy              │   │BACKSPACE │prev track│volume ↓    │volume ↑    │next track│
   &none         &none      &kp C_BRI_DN   &kp C_BRI_UP   &kp LG(C)              &kp BSPC   &kp C_PREV &kp C_VOL_DN &kp C_VOL_UP &kp C_NEXT
//├─────────────┼──────────┼──────────────┼──────────────┼──────────────────┤   ├──────────┼──────────┼────────────┼────────────┼──────────┤
//│←            │↓         │↑             │→             │paste             │   │          │←         │↓           │↑           │→         │
   &kp LEFT      &kp DOWN   &kp UP         &kp RIGHT      &kp LG(V)              &none      &kp LEFT   &kp DOWN     &kp UP       &kp RIGHT
//╰─────────────┴──────────┴──────────────┼──────────────┼──────────────────┤   ├──────────┼──────────┼────────────┴────────────┴──────────╯
//                                        │MEDIA         │SPACE             │   │ENTER     │MEDIA     │
										   &tog 4         &kp SPACE              &kp ENTER  &tog 4
//                                        ╰──────────────┴──────────────────╯   ╰──────────┴──────────╯
			>;
		};

		bluetooth_layer {
			bindings = <
//╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭──────────┬─────────────┬──────────┬──────────┬──────────╮
//│bt 1 off     │bt 2 off     │bt 3 off     │bt 4 off     │bt 5 off     │   │          │             │          │          │          │
   &bt BT_DISC 0 &bt BT_DISC 1 &bt BT_DISC 2 &bt BT_DISC 3 &bt BT_DISC 4     &none      &none         &none      &none      &none
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├──────────┼─────────────┼──────────┼──────────┼──────────┤
//│bt 1 on      │bt 2 on      │bt 3 on      │bt 4 on      │bt 5 on      │   │          │             │          │          │          │
   &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4      &none      &none         &none      &none      &none
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├──────────┼─────────────┼──────────┼──────────┼──────────┤
//│             │             │prefer ble   │prefer usb   │             │   │          │             │          │          │          │
   &none         &none         &out OUT_BLE  &out OUT_USB  &none             &none      &none         &none      &none      &none
//╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤   ├──────────┼─────────────┼──────────┴──────────┴──────────╯
//                                          │             │             │   │          │clear current│
											 &none         &none             &none      &bt BT_CLR
//                                          ╰─────────────┴─────────────╯   ╰──────────┴─────────────╯
			>;
		};
	};
};
